@{
    ViewData["Title"] = "Address";
}

<h1>Address</h1>
<select id="select1">
    <option value="aaa">Item1</option>
    <option value="bbb">Item2</option>
    <option value="ccc">Item3</option>
    <option value="ddd">Item4</option>
</select>
<select id="select2"></select>
<select id="select3"></select>

@section Scripts{
    <script>
        const selCity = document.querySelector('#select1');
        const selSite = document.querySelector('#select2');
        const selRoad = document.querySelector('#select3');
        selCity.addEventListener('change', () => {
            //console.log(selCity.selectedIndex)
            //console.log(selCity.options[selCity.selectedIndex].text)
            //console.log(selCity.options[selCity.selectedIndex].value)
            loadSite() }); 
        selSite.addEventListener('change', () => { loadRoad() });

        loadCity();

   //async 的寫法
     async   function loadCity() {
         //fetch寫法
            //fetch("Url.Content("~/Api/City")")//fetch起手式
            //    .then(Response => Response.json())   //回傳的是json格式，不需要再轉換成json物件(json.parse())
            //    .then(datas => {
            //        const cityOpts = datas.map(value => `<option value=${value}>${value}</option>`)
            //        selCity.innerHTML = cityOpts.join("");
            //    });       
            const response = await  fetch("@Url.Content("~/Api/City")");    //是個promise
          const datas = await response.json();  
          const  cityOpts = datas.map(value => `<option value=${value}>${value}</option>`)
            selCity.innerHTML = cityOpts.join("");
            //載入鄉鎮區
            loadSite();
 };
         async function loadSite(){
            const city = selCity.options[selCity.selectedIndex].value;   //抓前面選了哪個城市
            const response = await fetch(`@Url.Content("~/api/site?city=${city}")`);  //在網址中把城市選取
                     const datas = await response.json();  //回傳的鄉鎮區是promise物件，所以要再用await把資料轉出來
                    const siteOpts = datas.map(value => `<option value=${value}>${value}</option>`)
            selSite.innerHTML = siteOpts.join("");
                    //載入路名
                    loadRoad();
                }

        async function loadRoad(){
             const site = selSite.options[selSite.selectedIndex].value;
            const response = await fetch(`@Url.Content("~/api/road?site=${site}")`);
            const datas = await response.json();
            const roadOpts = datas.map(value => `<option value=${value}>${value}</option>`)
                selRoad.innerHTML = roadOpts.join(""); 
        }


     //過時的寫法
         //function loadCity() {
        //    const xhr = new XMLHttpRequest();
        //    xhr.addEventListener('load', () => {

                //const datas = xhr.responseText; //會得到JSON字串
                //要轉型成JSON物件 JSON.parse()
        //        const datas = JSON.parse(xhr.responseText);

        //        //["<option>","<option>"]
        //        const cityOpts = datas.map(value => `<option value=${value}>${value}</option>`)
        //        selCity.innerHTML = cityOpts.join("");
        //        //載入鄉鎮區
        //        loadSite();
        //        //JSON物件轉成JSON字串 JSON.stringify()
        //        //   console.log(JSON.stringify(datas));

        //    })
        //    xhr.open("GET", "Url.Content("~/api/city")");
        //    xhr.send();

        //}

        


        //function loadSite() {
        //    const xhr = new XMLHttpRequest();
        //    xhr.addEventListener('load', () => {
        //        const datas = JSON.parse(xhr.responseText);
        //        const siteOpts = datas.map(value => `<option value=${value}>${value}</option>`)
        //        selSite.innerHTML = siteOpts.join("");

        //        //載入路名
        //        loadRoad();
        //    })

        //    const city = selCity.options[selCity.selectedIndex].value;
        //    xhr.open("GET", `Url.Content("~/api/site?city=${city}")`);
        //     xhr.send();
        //}

        //function loadRoad() {
        //    const xhr = new XMLHttpRequest();
        //    xhr.addEventListener('load', () => {
        //        const datas = JSON.parse(xhr.responseText);
        //        const roadOpts = datas.map(value => `<option value=${value}>${value}</option>`)
        //        selRoad.innerHTML = roadOpts.join("");
        //    })
        //    const site = selSite.options[selSite.selectedIndex].value;
        //    xhr.open("GET", `Url.Content("~/api/road?site=${site}")`);
        //    xhr.send();

        //}
    </script>

}
