
@{
    ViewData["Title"] = "Fetch";
}

<h1>Fetch</h1>
<div id="div"></div>
@section Scripts
{<script>

    const div =document.querySelector("#div");
    fetch("@Url.Content("~/Api/Index")")
    .then(response => response.text())   //取到的api資料回傳也是promise物件，所以要再用一個.then把資料印出來
    .then(data =>div.innerHTML=`${data}`)  //就是這行
    .catch(error => console.log(error));


</script>}
